@font-face {
    font-family: "ROBOTO";
    src: url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "ROBOTO";
}

.container {
    width: 100%;
    margin: 0 auto;
}

header {
    background-image: url("banner3.jpg");
    background-size: cover;
    width: 100%;
    height: auto;
    color: aliceblue;
    text-align: center;
    padding: 50px 0;
    overflow: auto;
}

header>a {
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(53, 109, 214);
    border-radius: 8px;
    width: 100px;
    margin: 5px auto 0;
    padding: 5px;
    display: block;
    overflow: auto;
    font-family: "ROBOTO";
    font-size: 80%;
}

header>p {
    padding: 5%;
    font-size: 120%;
    font-family: "ROBOTO";
}

nav>h1 {
    font-family: "ROBOTO";
    text-align: center;
    margin-top: 12px;
    color: grey;
}

span {
    display: inline-block;
    color: rgb(255, 187, 0);
    border: 2px solid grey;
    border-right: 0;
    padding-left: 5px;
}

nav {
    width: 92%;
}

nav>ul {
    background-color: rgb(99, 154, 255);
    color: whitesmoke;
    list-style-type: none;
    width: 92%;
    margin: 20px auto 0 auto;
}

a {
    text-decoration: none;
    color: aliceblue;
}

li {
    font-size: 14px;
    margin: 0;
    text-align: center;
    padding: 10px;
}

main h2 {
    text-align: center;
    margin-top: 60px;
}

article h3 {
    color: rgb(99, 154, 255);
    padding: 10px 0;
}

main {
    width: 100%;
}

article {
    width: 85%;
    margin: 0 auto;
}

article p {
    padding: 20px 0;
}

article ul {
    list-style-image: url(arrow_bullet.png);
    list-style-position: inside;
}

article ul li {
    text-align: left;
    padding: 10px;
    padding-left: 0;
    color: grey;
}

main img {
    display: block;
    width: 100%;
    margin: 7px 0;
    width: 85%;
    margin: 0 auto;
}

hr {
    display: block;
    margin: 5px auto;
    padding: 0 5px;
    width: 27%;
}

/* .line {
    margin: 5px auto;
    width: 39px;
    overflow: auto;
    height: 20px;
} */

@media (min-width: 768px) {
    .container {
        position: relative;
    }
    nav {
        position: absolute;
        top: 2px;
       
    }
    h1 {
        float: left;
        padding-left: 15px;
    }
    nav>ul {
        float: right;
        background-color: transparent;
        width: auto;
        margin-right: 20px;
      
    }
    nav>ul>li {
        display: inline;
       
    }
    main {
        width: 85%;
        margin: 0 auto;
    }
    article p {
        padding: 20px 0;
    }
    section ul {
        list-style-image: url(arrow_bullet.png);
        list-style-position: inside;
    }
    article ul li {
        text-align: left;
        padding: 10px;
        padding-left: 0;
        color: grey;
    }
    article:first-of-type {
        margin-top: 10px;
        width: 50%;
        float: left;
    }
    article img {
        width: 50%;
        margin-top: 25px;
        height: auto;
    }
    article:last-of-type {
        margin: 0;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
    main {
        width: 70%;
        margin: 0 auto;
    }
    article:first-of-type {
        width: 30%;
        float: left;
    }
    article:last-of-type {
        width: 30%;
        float: left;
        margin-top: 10px;
    }
   article img {
        display: inline;
        width: 33%;
        margin: 25px 20px 0 20px;
        height: auto;
        float: left;
    }
    header>p {
        padding: 10px;
        padding-top: 200px;
        font-size: 290%;
        font-family: "ROBOTO";
    }
    header>a {
        
        padding: 5px;
        margin-bottom: 100px;
    }
    
}